---
layout: default
---
{% assign t = site.data.i18n %}
{% assign collection_name = "supervision" %}
{% assign items = site[collection_name] | sort: "date" | reverse %}

<h1 class="prose">{{ page.title }} ({{items.size}})</h1>

<div class="filter-wrapper">
  <div class="filter-container">
    <div class="filter-switch-group">

      <label class="switch-label">
        <input type="radio" name="timeline-filter" value="all" checked onclick="filterTimeline('all')">
        <span class="switch-text">
          {{t.all[page.lang]}}
          <span data-count="all" class="badge">{{ items.size }}</span>
        </span>
      </label>

      <label class="switch-label">
        <input type="radio" name="timeline-filter" value="thesis" onclick="filterTimeline('thesis')">
        <span class="switch-text">
          <i class="fa-solid fa-circle" style="color: #196ca3;"></i>
          {{t.theses[page.lang]}}
          <span data-count="european,international" class="badge">0</span>
        </span>
      </label>

      <label class="switch-label">
        <input type="radio" name="timeline-filter" value="tfm" onclick="filterTimeline('tfm')">
        <span class="switch-text">
          <i class="fa-solid fa-circle" style="color: #c32b72;"></i>
          {{t.tfms[page.lang]}}
          <span data-count="national" class="badge">0</span>
        </span>
      </label>

      <label class="switch-label">
        <input type="radio" name="timeline-filter" value="tfg" onclick="filterTimeline('tfg')">
        <span class="switch-text">
          <i class="fa-solid fa-circle" style="color: #006633;"></i>
          {{t.tfgs[page.lang]}}
          <span data-count="regional" class="badge">0</span>
        </span>
      </label>

    </div>
  </div>
</div>

{% include timeline.html items=items type="supervision" %}

